@import url(../src/fonts/fonts.css);

@import "tailwindcss";

@theme {
  /*   FONTS   */

  --font-satoshi: "Satoshi", sans-serif;
  --font-integralcf: "IntegralCF", sans-serif;

  /*   COLORS   */

  --color-bg-color: #ffffff;
  --color-primary: #000000;
  --color-secondary: #f0eeed;
  --color-star-yellow: #ffc633;
  --color-discount: #ff3333;
  --color-green: #01ab31;

  /*   SIZES   */

  --text-sm: clamp(0.75rem, 0.704rem + 0.19vw, 0.875rem); /*14-12*/
  --text-base: clamp(0.875rem, 0.829rem + 0.19vw, 1rem); /*16-14*/
  --text-lg: clamp(1rem, 0.907rem + 0.381vw, 1.25rem); /*20-16*/
  --text-xl: clamp(2rem, 1.814rem + 0.762vw, 2.5rem); /*40-32*/
  --text-2xl: clamp(2rem, 1.629rem + 1.524vw, 3rem); /*48-32*/
  --text-3xl: clamp(2.25rem, 1.6rem + 2.667vw, 4rem); /*64-36*/

  --text-logo: clamp(1.5rem, 1.314rem + 0.762vw, 2rem); /*32-24*/

  /*   SPACING   */

  /* container */
  --spacing-container: clamp(1rem, -0.95rem + 8vw, 6.25rem);

  /* header */
  --spacing-header: calc(var(--spacing) * 16);
  --spacing-md-header: calc(var(--spacing) * 24);

  /* side-menu */
  --spacing-side-menu: calc(var(--spacing) * 60);
}

/*  DARK MODE   */
@custom-variant dark (&:where(.dark, .dark *));
@layer theme {
  .dark {
    --color-bg-color: #121212;
    --color-primary: #ffffff;
    --color-secondary: #1e1e1e;
  }
}

@layer base {
  body {
    color: var(--color-primary);
    background: var(--color-bg-color);
    font-family: var(--font-satoshi);
    font-size: var(--text-base);
  }
}

@layer utility {
  /*   ANIMATIONS   */
  .animate-close {
    @apply h-0 -translate-y-full opacity-0 transition-all duration-500;
  }
}
